<div class="content">
  <div id="question-container" class="hide">
    <div id="question">Question</div>
    <div id="answer-buttons" class="btn-grid">
      <button class="btns">Answer 1</button>
      <button class="btns">Answer 2</button>
      <button class="btns">Answer 3</button>
      <button class="btns">Answer 4</button>
    </div>
  </div>
  <div class="controls">
    <button id="start-btns" class="start-btns btns">Start</button>
    <button id="nest-btns" class="next-btns btns hide">Next</button>
  </div>
</div>
